<div class="c-docs_example">
  <div class="c-docs_example-header">
    <span class="c-docs_example-header-title">{{ title }}</span>
    <div class="w-spacer">&nbsp;</div>
    <button mat-icon-button matTooltip="View source" (click)="viewExampleCodeToggle()">
      <mat-icon>code</mat-icon>
    </button>
  </div>
  <div [hidden]="!viewExampleCode" class="c-docs_example-tabs">
    <mat-tab-group class="docs_tabs">
      <mat-tab label="HTML" [disabled]="false">
        <code #sampleHtml class="docs_example-code docs_example-code__html" [innerHtml]="codeHtml"></code>
      </mat-tab>
      <mat-tab label="TS" [disabled]="false">
        <code #sampleTs class="docs_example-code docs_example-code__ts" [innerHtml]="codeTs"></code>
      </mat-tab>
      <mat-tab label="CSS" [disabled]="false">
        <code #sampleCss class="docs_example-code docs_example-code__css" [innerHtml]="codeCss"></code>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="c-docs_example-body">
    <ng-content></ng-content>
  </div>
</div>
